<div id="carouselMain" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="layer">
    <ol class="carousel-indicators">
      <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
      <li data-target="#carouselMain" data-slide-to="1"></li>
      <li data-target="#carouselMain" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <nav class="stroke">
        <ul class="d-block">
            <li><a href="#">Notre cuisine</a></li>
            <li><a href="#">Notre équipe</a></li>
            <li><a href="#">Nos coordonnées</a></li>
        </ul>
      </nav>

      <div class="main">
        <div class="title">
          ELSY
        </div>
        <div class="sub-title">
          Paris
        </div>
          <a href="#" class="btn btn-ghost mt-5">Commandez en ligne</a>
      </div>


      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1559847844-5315695dadae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>




<section class="c-split c-split--vcenter revealable">


  <div class="c-split__col ">
    <div class="c-split__col-inner">
        <div class="c-split__content content">
          <h2 class="h2 c-split__heading">Notre cuisine</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis magni neque doloribus eum illo, id debitis commodi sunt at, ipsa soluta minima repellendus beatae alias illum tenetur omnis nemo.</p>






        </div>
    </div>
  </div>



  <div class="c-split__col c-split__col--empty">
    <div class="c-split__col-inner">
        <div class="c-split__image"





    alt=""

 style="background-image: url('https://images.getbento.com/accounts/c7b49cc88d1bb3823c4129b95e9fcb71/media/images/12610171101_ilili_Menu-6.jpg?fit=max&w=1800&auto=format,compress');"></div>
    </div>
  </div>

</section>


<section class="c-split c-split--vcenter c-split--alternate revealable">


  <div class="c-split__col ">
    <div class="c-split__col-inner">
        <div class="c-split__content content">
          <h2 class="h2 c-split__heading">Notre équipe</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo architecto veritatis accusantium, soluta impedit sapiente veniam natus doloremque sit, velit quis commodi. Eum ab fugit accusantium neque optio, fuga sed?</p>






        </div>
    </div>
  </div>



  <div class="c-split__col c-split__col--empty">
    <div class="c-split__col-inner">
        <div class="c-split__image"





    alt=""

 style="background-image: url('https://images.getbento.com/accounts/c7b49cc88d1bb3823c4129b95e9fcb71/media/images/48214Our_food.jpg?fit=max&w=1800&auto=format,compress');"></div>
    </div>
  </div>

</section>



<section class="c-one-col--text content container revealable revealed">
  <h2>Commandez en ligne</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          Deliveroo
          <img src="https://i0.wp.com/www.grapheine.com/wp-content/uploads/2016/09/new-logo-deliveroo.gif?fit=1950%2C1200&quality=90&strip=all&ssl=1" class="card-img-top" alt="">
          <a href="#" class="btn btn-ghost dark">Commander</a>
      </div>
      <div class="col-md-6">
        Uber Eats
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Uber_eats_logo_2017_06_22.jpg" class="card-img-top" alt="">
        <a href="#" class="btn btn-ghost dark">Commander</a>
      </div>
    </div>
  </div>
</section>





<div class="container">
  <div class="kitchen">
    <div class="card">

      <h2>Notre cuisine</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit perferendis pariatur
      quidem nesciunt distinctio culpa beatae non alias soluta, et exercitationem, eligendi sequi.
      Corporis ea iure est, nam sit soluta!
      </p>

    </div>

    <div class="food">
    </div>
  </div>

  <div class="commande">
    <div class="text-center">Commandez</div>

    <div class='d-flex align-items-center justify-content-around'>
      <div class="card" style="width: 18rem;">
         <div class="card-body">
          <p class="card-text">Deliveroo</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
         <div class="card-body">
          <p class="card-text">Uber Eats</p>
        </div>
      </div>
    </div>


  </div>
</div>
