<div id="carouselMain" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
    <li data-target="#carouselMain" data-slide-to="1"></li>
    <li data-target="#carouselMain" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <nav class="stroke">
      <ul class="d-block">
          <li><a href="#">Notre cuisine</a></li>
          <li><a href="#">Suivez-nous</a></li>
          <li><a href="#">Nos coordonnées</a></li>
          <a href="#" class="btn btn-ghost ml-5">Commandez</a>
      </ul>
    </nav>

    <div class="main">
      <div class="title">
        ELSY
      </div>
      <div class="sub-title">
        Paris
      </div>
    </div>


    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1559847844-5315695dadae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80" class="d-block w-100" alt="...">
    </div>
  </div>

</div>

<div class="container">
  <div class="kitchen">

    <div class="text-center">Notre cuisine</div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit perferendis pariatur
    quidem nesciunt distinctio culpa beatae non alias soluta, et exercitationem, eligendi sequi.
    Corporis ea iure est, nam sit soluta!
    </p>

  </div>


  <div class="commande">
    <div class="text-center">Commandez</div>

    <div class='d-flex align-items-center justify-content-around'>
      <div class="card" style="width: 18rem;">
        <img src="https://i0.wp.com/www.grapheine.com/wp-content/uploads/2016/09/new-logo-deliveroo.gif?fit=1950%2C1200&quality=90&strip=all&ssl=1" class="card-img-top" alt="">
         <div class="card-body">
          <p class="card-text">Deliveroo</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://lh3.googleusercontent.com/proxy/Mq5yKshjFX2AikI5TzMhtamdGYoTbbrGGq5uprqyjDaa-yb-nMO71fARjOKLeSmH5siwjZOZBvN_bhCGZPLPraiQJlDy-Tc-juSCRWcQITeD6a1XZPKeZwF40zo8" class="card-img-top" alt="">
         <div class="card-body">
          <p class="card-text">Uber Eats</p>
        </div>
      </div>
    </div>


  </div>
</div>
