.btn-ghost {
  color:#F4F4F4;
  border: 1px solid #F4F4F4;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  z-index:20;
}

.btn-ghost:hover {
  opacity: 1;
  color:#F4F4F4;
}

.dark {
  color: black;
  border: 1px solid black;

}

.dark:hover{
  opacity: 1;
  color:black;
}
