footer{
  background-color: #FFFFFF
}

footer p{
  letter-spacing:.03em;
  line-height: 2;
}

.title-footer{
  font-size: 3vw;
}

footer i{
  cursor: pointer;
  color: #9c9c9c;
  font-size:25px;
}

footer i:hover{
  color:black;
}

.social{
  letter-spacing:5px;
}
