
.content {
 text-align:center;
 padding-top:5rem;
 padding-bottom:4.5rem
}
.content+.content {
 padding-top:0
}
.content>h2 {
 margin-bottom:1.5rem
}
.content .btn {
 margin:1rem .9375rem
}

.c-split {
 width:100%;
 background-repeat:repeat;
 background-position:top left;
 display:block;
 overflow:hidden
}
.c-split__col {
 position:relative;
 z-index:0;
 min-height:68vh;
 background-repeat:repeat;
 background-position:top left;
 padding-left:.9375rem;
 padding-right:.9375rem;
 text-align:center;
 vertical-align:top;
 overflow:hidden
}
@media (min-width: 544px) {
 .c-split__col {
  padding-left:1.875rem;
  padding-right:1.875rem;
 }
}
.c-split__col-inner {
 width:100%
}
.c-split__col--alt .c-split__heading {
 color:#fff
}
.c-split__col--alt .c-split__content {
 color:#fff
}
.c-split__col--alt .c-split__content a:not(.btn) {
 color:inherit
}
.c-split__col--alt .c-split__content a:not(.btn):focus,
.c-split__col--alt .c-split__content a:not(.btn):hover {
 color:inherit
}
.c-split__content {
 margin-left:auto;
 margin-right:auto
}
.c-split__image {
 position:absolute;
 top:0;
 left:0;
 z-index:-2;
 width:100%;
 height:100%;
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center center
}
.c-split--vcenter .c-split__col {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 width:100%;
 vertical-align:middle
}
@media (min-width: 992px) {
 .c-split {
  display:table;
  table-layout:fixed
 }
 .c-split__col,
 .c-split--vcenter .c-split__col {
  width:50%;
  height:68vh;
  display:table-cell
 }
 .c-split--alternate .c-split__col:first-child {
  left:50%
 }
 .c-split--alternate .c-split__col:last-child {
  left:-50%
 }
 .c-split__col-inner {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  height:100%
 }
 .c-split--vcenter .c-split__col-inner {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
 }
 .c-split__content {
  max-width:50%
 }
}
h2:last-child,
h1:last-child {
 margin-bottom:0
}
img {
 max-width:100%
}
a:focus,
a:hover {
 text-decoration:none
}


.container-sm,
.c-one-col--text {
 max-width:900px
}

.c-split__content {
 max-width:80%;
 background:#fff;
 padding:3rem 3rem 2rem;
 box-shadow:30px 30px 50px rgba(187,181,174,0.1);
 border:1px solid #f8f6f5
}
.c-split:hover .c-split__image {
 transform:scale(1.05, 1.05)
}
.c-split .c-split__image {
 transition:25s ease all
}
.c-split__content {
 transition:0.5s ease all;
}
.c-split:hover .c-split__content {
 transform:translateY(-3px)
}
hr {
 border-top:1px solid rgba(0,0,0,0.1);
 width:100% !important
}

@media (min-width: 992px) {
 .c-split {
  margin:6rem auto
 }
 .c-split__col--empty:first-child,
 .c-split--alternate .c-split__col--empty:last-child {
  transform:translateX(20%) !important;
  z-index:-1
 }
 .c-split__col--empty:last-child,
 .c-split--alternate .c-split__col--empty:first-child {
  transform:translateX(-20%) !important;
  z-index:-1
 }
 .c-intro+.c-split,
 .c-one-col--text+.c-split {
  margin-top:0
 }
}


@media (max-width: 991px) {
 .c-split__col {
  min-height:40vh
 }
 .c-split__content {
  max-width:100%;
  margin:1rem 0
 }
 .index-template .gallery__content.container,
 .index-template .hero__content.container,
 .c-split__content {
  padding:3rem 2rem 2rem
 }
 .c-intro {
  padding-top:3rem;
  padding-bottom:0.5rem
 }
}


